.contenedorNav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  
}
.contenedorNav h3{
  width: 100%;
  background-color: rgb(9, 93, 158);
  padding: 10px;
  text-align: center;
  color: white;
}
.contenedorNav p {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.contenedorNav p:hover{
  color: rgb(0, 102, 255);
}

.contenedorNav p:last-child{
  border-bottom: none;
}
