.contenedorHeader{
    max-width: 100%;
    display: flex;
    flex-direction: column;    
    position: relative;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  */

    min-height: calc(100vh - 10rem);
    max-height:calc(100vh - 10rem);
    overflow: hidden;
    /* background-image: url("../../../../public/imagenes/index/header/header.jpg");  */
}

.contenedorSuperior{
    text-align: center;
    display: flex;
    width: 100%;
    margin: auto;
}

.videoHeader{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    
}

.imagenHeaderContainer {
    position: relative;
    min-width: 100%;
    min-height: calc(100vh - 10rem);
    max-height: calc(100vh - 10rem);
  }
 
  .imagenHeader{
    object-fit:cover;
    min-width: 100%;
    object-position: center;
    
  }

  .textoSuperpuesto {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: start;
    color: white; /* Color del texto */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    min-width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.794), transparent);
    min-height: calc(100vh - 10rem);
    font-size: 1.7rem;
  }


.contenidoPrincipalHeader h3{
    margin: 10px 0;
    font-size: 60px;
}

.contenidoPrincipalHeader p{
    font-size: 20px;
}




@media only screen and (max-width:1000px){

    .contenedorHeader{
        height: 100%;
    }
    .contenedorSuperior{
        min-height: calc(100vh - 10rem);
        flex-direction: column;
        text-align: center;
        background-position: 65%;
    }
    .contenidoPrincipalHeader{
        background-color: rgba(22, 97, 107, 0.176);
        min-height: calc(100vh - 10rem);
        padding-top: 2rem;
        justify-content: flex-start;
        
    }
    /* .imagenHeader{
        object-position:center;
      } */
}
