.contenedorFooter{
    box-sizing: border-box;
    background-color: #171717;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.589);
    display: flex;
}
.footerIzquierda{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
}
.footerDerecha{
    flex-basis: 0;
    flex-grow: 1;
}

.contactos{
    display: flex;
    flex-direction: column;
    margin: 8px 10px;
}

.icono{
    margin-right: 5px;
}

.iconosRedes{
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.281);
    color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
}