.principalOpciones{
  display: flex;
  flex-direction: row;
  background-color:  rgb(16, 72, 80);
  color: white;
  width: 100%;
  padding:10px;
}

.principalOpciones p,.linksCompartidos {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  cursor:pointer;
}

.principalOpciones label {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  font-size:30px;
  cursor:pointer;
}

.principalContactos{
  display: flex;
  gap:1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.principalEnlaces{
  display: flex;
  gap:1rem;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
}

.contenedorNav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logoUnidad {
  margin-left: 10px;
}
.iconoBar {
  display: none;
}

.NavPrincipal {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
 .Nav {
  background-color: var(--background-color);
  padding: 20px 40px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(165, 162, 162, 0.288);
  border-top: none;
  box-shadow: 0px 5px 9px 3px rgba(0, 0, 0, 0.075);
  /* z-index: 100; */
  /* position: fixed; */
  color: var(--text-color);
} 

.navContenido {
  width: 100%;
  padding: 0 10px;
  display: flex;
}

.links {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.358);
}

.link:last-child {
  border: none;
}

.linkIcono {
  margin: 0 5px;
}

.iconos {
  font-size: 1rem;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.iconosIcono {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  cursor: pointer;
  flex-direction: row-reverse;
  user-select: none;
}
.navContenido {
  display: flex;
}

.iconosNav {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  width: 100%;
  
}

.iconosNav .ulCompuestoUser {  
  background-color: rgb(249, 248, 248);
  color: var(--text-color);
  box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.123);
  max-width: 100px;
}


.iconosNav .ulCompuestoUser li{
  display: flex;
  justify-content: center;
  padding: 0;
}

.linksIconos{
  width: 100%;
  padding: 10px;
}

.links {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.linkContactanos{
  position: relative;
}

.botonIconoLogin{
  background-color: transparent;
  padding: 0.5rem;
  margin-right: 0.7rem;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.iconoUser {
  background-color: var(--text-color);
  border-radius: 50%;
  color: var(--background-color);
  font-size: 2rem;
  display: flex;
  padding: 0.25rem;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.contenedorLinkCompuesto{
  position: relative;
  color: var(--text-color);
}
.contenedorLinkCompuestoUser{
  border-left: 1px solid rgba(0, 0, 0, 0.358);
}

.linksUser{
display: flex;
align-items: center;
padding: 0 10px;
}

.link:hover{
  color:  rgb(16, 72, 80);
}


.contenedorLinkCompuesto ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: white;
  min-width: 100%;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.094);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--text-color);
}
.contenedorLinkCompuesto ul li{
padding: 10px;
width: 100%;
color: var(--text-color);
}

.contenedorLinkCompuesto:hover > ul {
  opacity: 1;
  transform: translateY(0);
}


.ulCompuestoUser {
  right: 0;
  position: relative;
}

.contenedorLinkCompuesto ul li {
  list-style: none;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}
.contenedorLinkCompuesto .ulServicios{
  background-color: rgb(246, 246, 246);
}

.contenedorLinkCompuesto .ulServicios li{
  padding: 10px;
}


.contenedorLinkCompuesto ul li:nth-child(1) {
  border-top: none;
}

.iconoUser {
  margin-left: 7px;
}

@media only screen and (max-width: 900px) {
  .principalContactos
  {
    width: 100%;
    justify-content: center;
  }
  .principalEnlaces{
    display: none;
  }
  .contenedorLinkCompuestoUser{
    border-left: none;
    padding: 10px;
  }
}

@media only screen and (max-width: 815px) {
  .iconoBar {
    display: block;
    font-size: 2rem;
    padding: 5px 0;
    cursor: pointer;
  }

  .navContenido {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .logoUnidad {
    margin: 5px;
  }
  .contenedorLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .Nav {
    padding: 0 5px;
    position: fixed;
    flex-direction: column;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border: 1px solid rgba(165, 162, 162, 0.288);
    border-top: none;
    box-shadow: 0px 5px 9px 3px rgba(0, 0, 0, 0.075);
    z-index: 100;
  }

  .links {
    flex-direction: column;
    width: 100%;
  }

  .link {
    width: 100%;
    justify-content: flex-start;
    border: none;
    padding: 15px;
  }

  .links {
    border-top: 1px solid rgba(0, 0, 0, 0.164);
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  }

  .navContenido {
    display: none; /***/
  }

  .Nav:hover > .navContenido {
    display: flex;
  }
  .contenedorLinkCompuesto{
    cursor: pointer;
    width: 100%;
    
  }
  
  .contenedorLinkCompuesto .ulServicios {
    position: static;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    margin: 5px 0;
    display: none;
    left: 0;
    background-color: rgb(221, 218, 218);
    
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.041);
  }
  
  .contenedorLinkCompuesto .ulServicios li{
    padding: 15px;
  }

  .contenedorLinkCompuesto ul {
    text-align: justify;
  }

  .iconosIcono{
    padding: 15px 10px;
    flex-direction: row;
  }

  .botonIconoLogin{
    border: none;
  }
  .iconos {
    display: block;
    
  }

  .iconosNav {
    width: 100%;
  }
  .iconosNav .ulCompuestoUser {
    
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
    left: 0%;
    color: var(--text-color);
    background-color: rgb(237, 234, 234);
    
    min-width: 100%;
    margin-bottom: 10px;    
  }  
}
