.carruselImagen{
    width: 100%;
    object-fit: contain;
    min-height: 400px;
    border-radius: 8px; /* Bordes redondeados para la imagen */
  }
  
  .left{
    color: black;
    background-color: black;
    margin: 20px;
  }
  
  .contenedorPrinpialCarrusel{
    padding: 30px 0;
    background-color: white;
  }
  .contenedorCarruselInformacion{
    width: 100%;
    min-height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .contenedorCarruselInformacion h4{
    height: auto;
    word-wrap: break-word; /* Permite que las palabras largas se dividan y ajusten al ancho del contenedor */
    word-break: break-all; /* Fuerza a las palabras a romperse en cualquier punto si es necesario */
  }

  .contenedorCarruselInformacion .LinkButton{
    margin-top: 10px;
    width: 30%;
    border: none;
    outline-offset: none;
    padding: 10px;
    background-color: rgb(52, 99, 143);
    color: white;
    min-width: 100px;
    cursor: pointer;
  }