.publicacion{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.contenedorImagenPublicacion{
    width: 100%;
}

.contenedorContenidoPublicacion{
    position: relative;
    flex-basis: 0;
    flex-grow: 6;    
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0f4b6d;
    height: 100%;
}

.botonLink{
    background-color: rgb(230, 184, 72);
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.contenidoPublicacion {
    border-top: 4px solid #0f4b6d;
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
    background-color: white;
    min-height: 100px;
    width: 100%;
}

.contenidoPublicacion div{
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Establece el número de líneas que deseas mostrar */
}

@media only screen and (max-width:750px) {
 .publicacion{
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    width: 100%;
 }   

 .contenidoPublicacion{
    align-items: center;
    gap: 10px;
 }
}