.contendorErrorPage{
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contendorMensajeError{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    width: 70%;
    text-align: center;
}