.carruselImagen{
  min-width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.left{
  color: black;
  background-color: black;
  margin: 20px;
}


@media only screen and (max-width:500px){
  .carruselImagen{
    object-fit: contain;
  }
}